/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes scale {

  to {
    scale: 1.25;
  }
}

@keyframes sparks {

  to {
    opacity: 1;
  }
}

.page {
  font-size: 18px;
  inline-size: 100%;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family), sans-serif;
  font-variation-settings: 'wght' var(--main-font-weight);
  padding-block: 100px;
  background-image: var(--page-bg-image);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap); /* если необходимо, то переназначаем в другом элементе */
}

.accent-font {
  font-family: var(--accent-font-family), sans-serif;
}

.section {
  margin-inline: auto;
  inline-size: var(--section-i-size);
}

.section.header {
  margin-block-end: 100px;
}

.header {
  block-size: var(--section-b-size);
  padding-block: 100px;
  background-color: var(--main-bg-color);
}

.border {
  border: 2px solid #000;
}

.logo {
  font-size: var(--logo-font-size);
}

.logo-subtext {
  font-size: var(--logo-subtext-font-size);
  text-transform: uppercase;
}

.main > .list {
  --gap: 50px;
}

.card {
  inline-size: var(--card-i-size);
  background-color: var(--main-bg-color);
}

.card-header {
  font-size: inherit;
  min-block-size: var(--card-header-b-size);
  font-variation-settings: 'wght' var(--card-header-font-weight);
  padding-inline: 10px;
  padding-block: 5px;
  border-block-end: 2px solid #000;
}

.card__image-wrapper {
  position: relative;
  isolation: isolate; /* Изолируем слой картинок с mix-blend-mode от фонового градиента */
}

.image-label {
  position: absolute;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  font-family: var(--accent-font-family);
  font-size: 14px;
  text-shadow:
    -1px 0 #fff,
    0 1px #fff,
    1px 0 #fff,
    0 -1px #fff;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {

  .image-label {
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    text-shadow: none;
  }
}

.card__image {
  display: block;
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
  mix-blend-mode: hard-light;
  aspect-ratio: 1 / 1;
}

.card__section {
  --gap: 25px;

  padding-inline: 25px;
  padding-block: 25px 19px;
  border-block-start: 2px solid #000;
  align-items: start;
}

.card__text {
  line-height: 21px;
}

.card__text:not(:last-of-type) {
  margin-block-end: 2px;
}

.buttons-wrapper {
  display: flex;
  align-self: end;
  gap: 12px;
}

.button {
  position: relative;
  background-color: var(--main-bg-color);
  transition: box-shadow 0.3s ease;
  overflow: hidden;
}

.button:not(.card__icon-button)::before {
  content: '';
  position: absolute;
  inset: 0;
  background: #000;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-110%);
}

.button:hover {
  cursor: pointer;
}

.button:not(.card__icon-button):focus {
  outline: none;
}

.button:not(.card__icon-button):hover::before {
  transform: translateX(0);
}

.card__icon-button {
  padding-block: 0;
  padding-inline: 0;
  border: 2px solid rgb(0 0 0 / 0);
  transition: border 0.3s ease;
}

.card__icon-button:focus-visible {
  border: 2px solid rgb(0 0 0 / 1);
}

.button:not(.card__icon-button):focus-visible {
  box-shadow: 2px 2px 0 0 #000;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  padding-block-start: 2px;
}

.button__text {
  color: var(--button-text-color);
  font-size: 14px;
  line-height: 90%;
  mix-blend-mode: difference;
}

.save-button {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: var(--save-button-i-size);
  min-block-size: 55px;
  margin-block-start: 50px;
  margin-block-end: var(--save-button-margin-b-end);
  margin-inline: auto;
  padding-inline: 0;
  gap: var(--save-button-gap);
}

.icon-save {
  color: #fff;
  mix-blend-mode: difference;
  inline-size: var(--icon-save-size);
  block-size: var(--icon-save-size);
}

.dialog {
  display: grid;
  grid-template-columns: 39px var(--dialog-text-i-size);
  grid-template-rows: min-content min-content;
  gap: 30px 20px;
  position: fixed;
  inset: 0;
  padding-inline: var(--dialog-i-padding);
  padding-block: var(--dialog-b-padding);
  text-transform: uppercase;
  font-size: 14px;
  transform: translateY(0%);
  opacity: 1;
  transition:
    transform 0.5s 0.3s,
    opacity 0.3s 0.3s,
    box-shadow 0.8s;
  box-shadow: 0 0 0 100vmax rgba(0 0 0 / 0.75);
}

.dialog:not([open]) {
  pointer-events: none;
  transform: translateY(-600%);
  opacity: 0;
  box-shadow: 0 0 0 100vmax rgba(0 0 0 / 0);
}

.page:has(.dialog[open]) {
  overflow: hidden;
}

.dialog::backdrop {
  display: none;
}

.dialog .icon-save {
  --icon-save-size: 39px;

  align-self: center;
}

.dialog__text {
  line-height: 150%;
}

.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 90%;
  grid-column: span 2;
  text-transform: inherit;
  font-size: inherit;
  block-size: 38px;
}

.clean-sheet-filter {
  filter: var(--clean-sheet-filter);
}

.if-doesnt-work-filter {
  filter: var(--if-doesnt-work-filter);
}

.pursuit-ideal-filter {
  filter: var(--pursuit-ideal-filter);
}

.someone-nearby-filter {
  filter: var(--someone-nearby-filter);
}

.workarounds-strategies-filter {
  filter: var(--workarounds-strategies-filter);
}

.hands-down-filter {
  filter: var(--hands-down-filter);
}

.i-am-here-filter {
  filter: var(--i-am-here-filter);
}

.heart-sparks {
  opacity: 0;
}

.heart-contour {
  transition: fill 0.1s;
}

.heart-core {
  transition: fill 0.3s 0.03s;
}

.card__icon-button:hover .heart-core {
  fill: var(--contour-color);
  transition: fill 0.3s;
}

.heart-body {
  transition: fill 0.3s;
}

.card__icon-button:hover .heart-body {
  fill: var(--contour-color);
  transition: fill 0.3s 0.05s;
}

.card__icon-button:active .heart-core {
  fill: var(--heart-body-color);
  transition: fill 0.3s;
}

.card__icon-button:active .heart-body {
  fill: var(--heart-body-color);
  transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .heart-core {
  fill: var(--heart-body-color);
  transition: fill 0.3s;
}

.like-icon.is-liked .heart-body {
  fill: var(--heart-body-color);
  transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .heart-contour {
  fill: var(--heart-body-color);
  transition: fill 0.3s 0.06s;
}

.is-liked .heart {
  transform-origin: center;
  animation: scale 0.3s 0.1s ease-in;
}

.is-liked .heart-sparks {
  animation: sparks 0.3s 0.3s ease-in;
}

@media (width <= 375.5px) {
  
  .save-button {
    flex-direction: column;
    padding-block: 15px;
  }
}
