/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font-family: 'Inter';
  --accent-font-family: 'PressStart2P';
  --main-font-weight: 400;
  --card-header-font-weight: 700;
  --gap: 20px;
  --header-b-padding: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem);
  --section-i-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --card-i-size: clamp(23.1875rem, 16.0352rem + 30.5164vw, 43.5rem);
  --save-button-i-size: clamp(19.375rem, 18.7368rem + 2.723vw, 21.1875rem);
  --save-button-gap: 8px;
  --save-button-margin-b-end: 3px;
  --logo-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --logo-subtext-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --icon-save-size: 21px;
  --dialog-i-padding: 30px;
  --dialog-b-padding: 30px;
  --dialog-text-i-size: clamp(12.375rem, 11.5827rem + 3.3803vw, 14.625rem);
  /* Простые фильтры для изображений */
  --invert-filter: invert(0.8);
  --contrast-filter: contrast(120%);
  --sepia-more-filter: sepia(110%);
  --sepia-less-filter: sepia(20%);
  --brightness-more-filter: brightness(125%);
  --brightness-less-filter: brightness(90%);
  --grayscale-filter: grayscale(0.8);
  --saturate-more-filter: saturate(150%);
  --saturate-less-filter: saturate(50%);
  /* END Простые фильтры для изображений */
  /* Множественные фильтры для изображений */
  --grayscale-brightness-filter: var(--grayscale-filter)
    var(--brightness-more-filter);
  --contrast-saturate-filter: var(--contrast-filter) var(--saturate-more-filter);
  --cinematic-filter: var(--contrast-filter) var(--brightness-less-filter)
    var(--saturate-more-filter) var(--sepia-less-filter);
  --sad-filter: var(--grayscale-filter) var(--contrast-filter)
    var(--brightness-less-filter) var(--saturate-less-filter);
  /* END Множественные ильтры для изображений */
  --page-bg-image:
    repeating-linear-gradient(
      to right,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  --main-bg-color: #fff;
  --button-text-color: #fff;
  --contour-color: #000;
  --heart-body-color: red;
}

@media (width <= 375px) {
  
  :root {
    --icon-save-size: 28px;
    --save-button-gap: 9px;
    --save-button-margin-b-end: 0;
    --dialog-i-padding: 40px;
  }
}
